<div class="widget widget_categories">
    <h5 class="widget-title">Transporte comercial - Productos</h5>
    <ul>
        <li><a href="@Url.Content("~/Productos/Aceites-Para-Motores-de-Servicio-Pesado")" class="btn btn-warning">Aceites para motores de servicio pesado</a></li>
        <li><a href="@Url.Content("~/Productos/Refrigerantes-Antocongelantes")" class="btn btn-warning">Refrigerantes / anticongelantes</a></li>
        <li><a href="@Url.Content("~/Productos/Grasas")" class="btn btn-warning">Grasas</a></li>
        <li><a href="#" class="btn btn-warning">Lubricantes para engranajes</a></li>
        <li><a href="#" class="btn btn-warning">Fluidos para transmisión</a></li>
    </ul>
</div><!-- /.widget-categories -->
<div class="widget widget_categories">
    <button class="btn btn-info">Solicitar cotización</button>
</div>
